{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="btn btn-warning btn-sm" {{action "submit"}}>
  Sign In
</button>

<button class="btn btn-danger btn-sm" {{action "reset"}}>
  Clear
</button>
