<form class="form-group" {{action 'submit' on='submit'}}>
  <div class="temp">
    <div class="temp-1">
      {{input class="form-control" value=zip.location type="number" required="true" placeholder="5 digit zip code..." max="99999" min="0"}}
    </div>
    <button class="btn btn-warning btn-sm" type="submit">Send Zip Code</button>
  </div>
</form>
