@import 'bootstrap';
@import 'bootstrap/theme';

input {
  height: 24px !important;
  padding: 2px !important;
}

.attention {
  color: red;
}

.activity {
  float: left;
  padding-right: 4px;
  width: 50%;
}

.comfort {
  float: left;
  width: 50%
}

.save-btn {
  clear: both;
  padding-top: 8px;
  // display: block;
}

.logs-view {
  margin-bottom: 2px;
  margin-left: 16px;
  margin-top: 2px;
}
