<div class="past-logs">
  <h3>Your past logs:</h3>

  {{#each model as |log|}}
    {{log-entries/card
      log=log}}
  {{/each}}
</div>

<div class='back-button'>{{#link-to 'index'}}Back{{/link-to}}!</div>
