{{!-- <h1>Current Weather</h1> --}}
<h1>Welcome to <img src="https://raw.githubusercontent.com/cathyob/bundleUP/master/app/bundleUP.png" alt="bundleUP" class="bundleUP-logo">!</h1>
<img src="https://raw.githubusercontent.com/cathyob/bundleUP/master/app/weather.gif" alt="Changing Weather Icons">

<h4>What should you wear today?</h4>
<p>Keep track of how you're feeling right now and describe what you're wearing, doing, and the conditions outside so you can be as comfortable as possible!</p>

<h3>Past Logs</h3>
Look at your past logs {{#link-to 'logs'}}here{{/link-to}}!

<h3>Create New Log</h3>
{{zip-code submit="sendZip"}}
{{log-entries/new list=model save='createLog'}}

<br>
<br>
