{{!-- <h1>Current Weather</h1> --}}
<h1>Welcome to bundleUP!</h1>

<h4>What should you wear today?</h4>
<p>Keep track of how you're feeling right now and describe what you're wearing, doing, and the conditions outside so you can as comfortable as possible!</p>

<h3>Past Logs</h3>
Look at your past logs {{#link-to 'logs'}}here{{/link-to}}!

<h3>Create New Log</h3>
{{log-entries/new list=model save='createLog'}}

<br>
<br>
