{{!-- <h1>Current Weather</h1> --}}

{{!-- <h3>Create and View Logs</h3>
Look at your past logs and create new ones {{#link-to 'logs'}}here{{/link-to}}! --}}

<h3>Create New Log</h3>
{{log-entries/edit list=model save='createLog' cancel='cancel'}}

<h3>Past Logs</h3>
Look at your past logs {{#link-to 'logs'}}here{{/link-to}}!
<br>
<br>
