{{!-- <h1>Current Weather</h1> --}}

<h3>Create New Log</h3>
{{!-- Insert template for new report here plus button to submit (that also reloads past logs list) --}}
{{!-- {{#link-to 'log.new'}}<button class="btn btn-info btn-sm">Save</button>{{/link-to}} --}}


<h3>Past Logs</h3>
{{!-- Insert link of all logs here --}}
Look at your past logs {{#link-to 'logs'}}here{{/link-to}}!
