{{!-- <h1>Current Weather</h1> --}}

<h3>Past Logs</h3>
Look at your past logs {{#link-to 'logs'}}here{{/link-to}}!

<h3>Create New Log</h3>
{{log-entries/new list=model save='createLog'}}


<br>
<br>
